:root{
    /*Palheta de cores*/
    --mainColor: #0893d8;
    --blue1: #0c446c;
    --blue2: #156ca4;
    --blue3: #0593da;
    --blue4: #5bafd3;
    --blue5: #7cced5;

    --cyan: #307d84;

    --green: #6eb864;

    --yellow: #eae91a;

    --white: #d9f0f5;
    --black: #1f1f1b;
    --grey: #303030;

    /*BG dark*/
    --slate100: rgb(241 245 249);
    --slate200: rgb(226 232 240);
    --slate300: rgb(203 213 225);
    --slate400: rgb(148 163 184);
    --slate500: rgb(100 116 139);
    --slate600: rgb(71 85 105);
    --slate700: rgb(51 65 85);
    --slate800: rgb(30 41 59);
    --slate900: rgb(15 23 42);
    --slate: rgb(2 6 23);

}

/*General settings*/
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: #818181;
    overflow-x: hidden !important;
    max-width: 100vw;
    max-height: 100vh;
}

.title {
    font-family: "anton", sans-serif ;
    font-size: 6rem ;
    font-weight: 400 ;
    font-style: normal ;
}

.subtitle-v1{
    font-family: "Anton", sans-serif ;
    font-size: 3rem ;
    letter-spacing: .0.8rem;
    font-weight: 400 ;
    font-style: normal ;
}

.subtitle {
    font-family: "Anton", sans-serif ;
    font-size: 3rem ;
    font-weight: 400 ;
    font-style: normal ;
}

.logo {
    font-family: "Anton", sans-serif !important;
    font-size: 2.5rem !important;
    font-weight: 800 !important;
    font-style: normal !important;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 900;
}

h4 {
    font-size: 19px;
    color: var(--grey);
    font-weight: 400;
}

/*Container fluid para Desktop*/
.container-fluid {
    padding: 6% 10%;
    background-color: var(--slate100);
}


/*Navbar*/
.navbar {
    margin-bottom: 0;
    background-color: var(--mainColor);
    z-index: 9999;
    border: 0;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: var(--white) !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: var(--mainColor) !important;
    background-color: var(--white) !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--white) !important;
}

.logo-small {
    color: var(--mainColor);
    font-size: 50px;
}

.logo {
    color: var(--mainColor);
    font-size: 200px;
}

.navbar-toggle:focus,
.navbar-toggle:active,
.navbar-toggle-icon:focus,
.navbar-toggle-icon:active {
    background-color: none; /* Altere para a cor desejada */
    border: none;
    color: none;
}


/*Hero section or index section*/
.herosection{
    background-color: rgb(241 245 249);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20%;
}

/*Courses*/
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    filter: grayscale(75%);
    border-radius: 10px;
    transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
}

.thumbnail:hover {
    filter: grayscale(0%);
    box-shadow: 2px 0px 10px rgba(5, 0, 53, 0.2);
    transform: scale(1.05);
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*Feedback*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: var(--mainColor);
}

.carousel-indicators li {
    border-color: var(--mainColor);
}

.carousel-indicators li.active {
    background-color: var(--mainColor);
}

.item h4 {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

/*Plans*/
.panel {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.panel-fluid{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.panel:hover {
    box-shadow: 2px 0px 10px rgba(5, 0, 53, 0.2);
    transform: scale(1.01);
}

.panel-footer .btn:hover {
    border: 1px solid var(--mainColor);
    background-color: var(--white) !important;
    color: var(--mainColor);
}

.panel-heading {
    color: var(--white) !important;
    background-color: var(--mainColor) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: var(--mainColor);
    color: var(--white);
}

/*footer*/
.footer-fluid{
    background-color: #156ca4;
    padding: 2% 10% !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--white);
}


/*Animation*/
.slideanim {
    visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/*keyframes*/
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*Responsive settings*/
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

    /*Container fluid para mobile*/
    .container-fluid{
        padding: 7% 5%;
        background-color: var(--slate100);
    }

    .footer-fluid{
        background-color: #156ca4;
        padding: 10% !important;
    }

    .herosection{
        background-color: rgb(241 245 249);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0% 5%;
    }

    .panel-fluid{
        display: contents !important;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
